@page "/"
@inject GoogleSheetsService GoogleSheetsService;

<style>
	.center-container {
		display: flex;
		justify-content: center;
	}

		.center-container img {
			max-height: 50vh; /* Maximum height is 50% of the viewport height */
			width: auto; /* Maintain aspect ratio */
			height: auto; /* Ensure height adjusts to maintain aspect ratio */
			max-width: 100%; /* Ensure it doesn't exceed the container width */
		}
</style>

<div class="center-container">
	<img src="icon.png" alt="Die Hopfenhirne" />
</div>

@if (_members.Any())
{
<div class="center-container">
	<table class="table">
		<thead>
		<tr>
			<th>Mitgliedsnummer</th>
			<th>Name</th>
			<th>Teilnahmen</th>
			<th>Winrate [%]</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var member in _members)
		{
		<tr>
			<td>@member.Number</td>
			<td>@member.Name</td>
			<td>@member.NumberOfParticipations</td>
			<td>@member.WinRatePlot()</td>
		</tr>
		}
		</tbody>
	</table>
</div>
}


@code
{
	private IQueryable<Member> _members = new List<Member>().AsQueryable();
	
	protected override async Task OnInitializedAsync()
	{
		try
		{
		var members = await GoogleSheetsService.GetMembers();
		_members = members.OrderBy(x => x.Number).AsQueryable();
		}
		catch (Exception)
		{
			// ignored
		}
	}
}
