@page "/"

<style>
	.center-container {
		display: flex;
		justify-content: center;
	}
</style>


<div class="center-container">
	<img src="icon.png" width="50%" alt="Die Hopfenhirne" />
</div>
